@import "./../../shared/scss/mixin.scss";

section {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow-x: hidden;
  @include tablet-portrait {
    flex-direction: column;
  }

  div.bg-img {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 55%;
    height: 100%;
    @include tablet-landscape {
      width: 45%;
    }
    @include tablet-portrait {
      width: 100%;
      height: 50%;
    }
  }

  div#container {
    width: 45%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    @include tablet-landscape {
      width: 55%;
    }
    @include tablet-portrait {
      width: 100%;
    }
  }
}
