<section>
  <sub-nav
    [menu]="menu"
    [route]="'/quezako'"
    [elementNumber]="menu.length"
  ></sub-nav>
  <scroll-icon></scroll-icon>
  <article id="intro">
    <div>
      <img
        src="./../../../assets/quezako.jpg"
        alt="Bloody Skulls"
        class="team"
      />
      <div class="blue-background">
        <h1>Quezako le <br />roller derby</h1>
        <div class="intro-container">
          <p>
            Le roller derby est un sport d'équipe de contact se pratiquant en
            patins à roulettes quads sur une piste de forme oblongue, le but du
            jeu étant pour l'une des joueuses de réussir à dépasser en un laps
            de temps donné les joueuses adverses sans se faire projeter au sol
            ni sortir de la piste.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
