@import "./../../app.component.scss";

h1 {
  text-align: center;
}

p {
  text-align: center;
}

aside {
  padding: 10vh 3vw 0;
  @include tablet-portrait {
    padding: 2vh 3vw 4vh;
  }
}

.flex {
  display: flex;
  text-align: center;
  flex-direction: row;
  padding: 0;
  height: auto;

  &:first-of-type {
    padding: 4vh 2vw;
    justify-content: space-between;
    align-items: flex-start;

    div {
      width: 100%;
    }
  }

  p span {
    color: #6f6f6f;
  }

  + .flex {
    align-items: stretch;
    position: relative;
    bottom: 0;
    flex-direction: row;

    @include phone-only {
      flex-direction: column;
    }
  }
  // img {
  //   width: 85%;
  // }

  iframe {
    width: 600px;
    height: 400px;
    @include laptop {
      height: 250px;
    }
    @include phone-only {
      width: 100%;
      order: 2;
    }
  }
}

.yellow-background {
  background-color: #e9c341;
  display: flex;
  align-items: center;
  padding: 1rem;
}

article {
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: auto;
  @include tablet-landscape {
    width: 55%;
  }
  @include tablet-portrait {
    width: 100%;
    position: relative;
  }
}
