<page-layout [pageContent]="nousRejoindreContent" [imgSrc]="joinImg">
  <ng-template #nousRejoindreContent>
    <div>
      <div>
        <h1>Rejoins-nous.</h1>
        <p>
          Que tu saches déjà jouer au roller derby ou pas, que tu saches patiner
          ou pas, que tu aies 20 ou 50 ans et quelque soit ton genre, tu es le·a
          bienvenu·e au MRDC.
        </p>
        <p>
          Si tu débutes complètement en patinage, le recrutement est ouvert !
          <br />Si tu sais déjà jouer et que tu transfères, tu peux nous
          rejoindre toute l'année.
        </p>
      </div>
      <div class="creneaux">
        <div>
          <span class="material-icons"> insert_invitation </span>
          <h3>Lundis.</h3>
          <p>19h à 21h30</p>
          <p>
            <span>NewBee &<br />Mars Invaders</span>
          </p>
        </div>
        <div>
          <span class="material-icons"> insert_invitation </span>
          <h3>Mardis.</h3>
          <p>19h à 21h30</p>
          <p>
            <span>Bloody Skulls &<br />Chapacans</span>
          </p>
        </div>
        <div>
          <span class="material-icons"> insert_invitation </span>
          <h3>Jeudis.</h3>
          <p>19h à 21h30</p>
          <p>
            <span>Toutes les recrues</span>
          </p>
        </div>
      </div>
      <div class="creneaux"></div>
    </div>
  </ng-template>
</page-layout>
