@import "../../shared/scss/mixin.scss";

// Global
span {
  color: #6f6f6f;
}
//

article {
  padding: 0;

  > div {
    &:not(:last-child) {
      padding: 0 3vw;
    }

    // Créneaux
    &:nth-child(2) {
      justify-content: space-around;
      align-items: flex-start;
      margin: 2rem 0;

      @include phone-only {
        flex-direction: column;
        align-items: center;
      }

      div {
        flex-grow: 1;
        width: 30%;
        text-align: center;

        @include phone-only {
          width: 95%;
        }

        &:nth-child(2) {
          margin: 0 0.5rem;
        }

        nb-select ::ng-deep .select-button {
          min-width: 0;
        }

        input {
          margin: 0.5rem 0;
        }

        button {
          margin: 0.7rem 0 2rem;
        }
      }
    }

    // Lieu d'entrainement
    &:last-child {
      align-items: stretch;
      @include phone-only {
        flex-direction: column;
      }

      iframe {
        @include phone-only {
          order: 2;
        }
      }

      div {
        background-color: #e9c341;
        text-align: center;
        padding: 1rem;
      }
    }
  }
}
