<section class="club-section">
  <article>
    <div>
      <img
        src="../../../assets/club/le-club.jpg"
        alt="Bloody Skulls"
        class="team-img"
      />
      <div class="blue-background">
        <h1>we are mrdc</h1>
        <div class="intro-container">
          <p>
            Association loi 1901, le Marseille Roller Derby Club est un club
            sportif. Nous promouvons la pratique du Roller Derby à Marseille, un
            sport d’équipe et de contact en pleine expansion en France. Nous
            comptons chaque année une 50aine d’adhérent·e·s, femmes et hommes
            confondus.
          </p>
          <p>
            Nous comptons 2 équipes féminines (Bloody Skulls & Mars Invaders),
            une équipe masculine (Les Chapacans) ainsi qu’une équipe d’arbitres
            (Les Rascasses).
          </p>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="start-date">
      <h2>Juillet <br />2011</h2>
    </div>
    <div class="block-1">
      <div class="blue-border-box">
        <p>
          Création de l’Association Marseille Roller Derby Club suite à la
          rencontre de plusieurs habitantes marseillaises souhaitant pratiquer
          le Roller Derby et faire connaître ce sport dans la ville. Dès sa
          première saison, l’association rassemble une quarantaine
          d’adhérent·e·s, en majorité des femmes. Une première équipe a été
          créée, Les «<strong>Bloody Skulls</strong>»
        </p>
      </div>
    </div>
    <div class="block-2">
      <div class="blue-border-box">
        <img
          src="../../../assets/club/2012.png"
          alt="photo match contre Montpellier"
          class="photos"
        />
        <h2>2012</h2>
        <p>
          Premier match des Bloody Skulls contre les Death Pouffes (Montpellier)
        </p>
        <img
          src="../../../assets/equipes/logo_bs.png"
          alt="logo Bloody Skulls"
          class="logos"
        />
      </div>
    </div>
    <div class="block-3">
      <div class="blue-border-box">
        <img
          src="../../../assets/equipes/logo_rascasse.png"
          alt="logo Rascasses"
          class="logos"
        />
        <img
          src="../../../assets/club/2013.png"
          alt="photo Arbitres"
          class="photos"
        />
        <h2>2013</h2>
        <p>
          Création d’une équipe d’arbitres : les <strong>Rascasses</strong>.
          Leur but : former joueurs et joueuses à l’arbitrage et se déplacer sur
          les divers matches et événements en France. Referee (sur patins) et
          NSO (sans patins) de Marseille ont ainsi arbitré des rencontres en
          France et à l’international.
        </p>
      </div>
    </div>
  </article>
</section>
