<page-layout [pageContent]="partenariatContent" [imgSrc]="partenariatBgImg">
  <ng-template #partenariatContent>
    <div class="flex">
      <article>
        <h1>Devenir <br />partenaire</h1>
        <p>
          Nous souhaitons faire connaître notre association à la population
          marseillaise ! C’est pourquoi nous sollicitons des sponsors souhaitant
          s’investir dans notre projet, nous accompagner dans la fabrication de
          t-shirts, l’achat de matériel sportif et nous soutenir financièrement
          pour les déplacements lors de matchs
        </p>
        <p>
          Pour toute demande de renseignement ou prise de contact auprès d'un
          responsable de l'association, écrivez nous à l'adresse suivante :
          <a href="mailto:marseille.roller.derby.club@gmail.com"
            >marseille.roller.derby.club@gmail.com</a
          >
        </p>
      </article>
    </div>
  </ng-template>
</page-layout>
