<img
  src="../../../../assets/logo_MRDC.png"
  alt="Logo Marseille Roller Derby Club"
/>

<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  outline="danger"
  role="alert"
>
  <ul>
    <li *ngFor="let error of errors" class="error-msg">{{ error }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
  <input
    nbInput
    fieldSize="large"
    [(ngModel)]="user.email"
    #email="ngModel"
    name="email"
    id="input-email"
    pattern=".+@.+\..+"
    placeholder="Email"
    [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
    [required]="getConfigValue('forms.validation.email.required')"
    [attr.aria-invalid]="email.invalid && email.touched ? true : null"
  />
  <ng-container *ngIf="email.invalid && email.touched">
    <p class="error-msg" *ngIf="email.errors?.required">
      <nb-icon icon="alert-circle-outline"></nb-icon>Email requis !
    </p>
    <p class="error-msg" *ngIf="email.errors?.pattern">
      <nb-icon icon="alert-circle-outline"></nb-icon> L'email n'est pas valide
    </p>
  </ng-container>
  <input
    nbInput
    fieldSize="large"
    [(ngModel)]="user.password"
    #password="ngModel"
    name="password"
    type="password"
    id="input-password"
    placeholder="Mot de passe"
    [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
    [required]="getConfigValue('forms.validation.password.required')"
    [minlength]="getConfigValue('forms.validation.password.minLength')"
    [maxlength]="getConfigValue('forms.validation.password.maxLength')"
    [attr.aria-invalid]="password.invalid && password.touched ? true : null"
  />
  <ng-container *ngIf="password.invalid && password.touched">
    <p class="error-msg" *ngIf="password.errors?.required">
      <nb-icon icon="alert-circle-outline"></nb-icon> Mot de passe requis !
    </p>
  </ng-container>
  <a routerLink="../request-password">Oups, mot de passe oublié ?</a>
  <button
    class="submit"
    nbButton
    size="large"
    status="info"
    [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted"
  >
    S'identifier
  </button>
</form>
