form {
  text-align: center;
}

input {
  display: block;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  background-color: aliceblue;
}

.error-msg {
  text-align: center;
}

nb-alert {
  padding: 0.3rem 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    text-align: center;
    margin: 1rem auto;
  }
}

a {
  text-align: center;
  color: rgb(177, 177, 177);
  text-decoration: none;
  display: block;
  margin-top: 4rem;
}

[nbButton] {
  margin: 1rem auto;
}
