<section *ngIf="teams$ | async as teams">
  <sub-nav
    [menu]="equipeMenu"
    [route]="'/nos-equipes'"
    [elementNumber]="teams.length"
  ></sub-nav>
  <scroll-icon *ngIf="showScroll"></scroll-icon>
  <article
    id="{{ equipeMenu[i].ancre }}"
    *ngFor="let team of teams; let i = index"
  >
    <div>
      <img
        src="./../../../assets/equipes/bloodys.jpg"
        alt="Bloody Skulls"
        class="team-img"
      />
      <div class="blue-background">
        <img
          src="./../../../assets/equipes/logo_bs.png"
          alt="Logo Bloody Skulls"
          class="logo"
        />
        <h1>{{ team.teamName }}</h1>
        <div class="intro-container">
          <p>{{ team.teamStory }}</p>
          <a
            *ngIf="team.flatTrackUrl"
            href="{{ team.flatTrackUrl }}"
            target="_blank"
            >Tous les résultats des {{ team.teamName }} ></a
          >
          <a
            *ngIf="team.teamName === 'Chapacans'"
            href="http://flattrackstats.com/teams/112544"
            target="_blank"
            >Tous les résultats des des Gerbes de Provence ></a
          >
        </div>
      </div>
    </div>
  </article>
</section>
