@import "./shared/scss/mixin.scss";

main {
  background-color: #f8f8f8;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0;
  @include laptop {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.2rem 0;
  @include laptop {
    font-size: 1.3rem;
  }
}
p,
li {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.1;
  @include laptop {
    font-size: 1.2rem;
  }
}
.primary-btn {
  padding: 1rem 2rem;
  background-color: #009de4;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
}
