@import "./shared/scss/mixin.scss";

.head {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  > img {
    z-index: 10;
    width: 10%;
    cursor: pointer;
    @include phone-only {
      width: 25%;
    }
  }
}

ul {
  position: fixed;
  z-index: 5;
  list-style: none;
  top: 45%;
  width: 10%;
  max-width: 4rem;
  @include tablet-portrait {
    display: none;
  }
  li {
    margin: 1rem 0;
    @include tablet-portrait {
      display: inline-block;
      padding: 0 1rem;
    }
    @include phone-only {
      margin: 0;
    }
    a {
      text-decoration: none;
      margin: 1rem auto;
    }
  }
}
