@import "./shared/scss/mixin.scss";
@import "../themes.scss";

* {
  font-family: "Josefin Sans", "Roboto", sans-serif;
}

html {
  background-color: #f8f8f8;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0;
  line-height: 1.2;
  @include laptop {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.2rem 0;
  @include laptop {
    font-size: 1.3rem;
  }
}
p,
li,
a,
button {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.1;
  @include laptop {
    font-size: 1.2rem;
  }
}
a {
  cursor: pointer;
  margin: 0;
}
.primary-btn {
  padding: 1rem 2rem;
  background-color: #009de4;
  cursor: pointer;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: block;
    text-align: center;
    font-weight: 500;
  }
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 3vw;
  overflow-x: hidden;
  @include tablet-portrait {
    align-items: flex-start;
  }
}

.intro-container {
  border-left: solid #fff 1px;
  width: 88%;
  float: right;
  padding: 0 1rem;
}

.error-msg {
  color: #ba2020;
  font-style: italic;
  font-size: 1rem;
}

.head {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  a {
    z-index: 10;
    img {
      width: 15%;
      @include phone-only {
        width: 25%;
      }
    }
  }
}

ul {
  position: fixed;
  z-index: 5;
  list-style: none;
  top: 45%;
  width: 10%;
  @include tablet-portrait {
    width: 40%;
    text-align: right;
    top: 2.5rem;
    margin: 0;
    padding: 0;
    right: 3rem;
  }
  li {
    margin: 1rem 0;
    @include tablet-portrait {
      display: inline-block;
      padding: 0 1rem;
    }
    @include phone-only {
      margin: 0;
    }
    a {
      text-decoration: none;
      margin: 1rem auto;
    }
  }
}
