@import "../../shared/scss/mixin.scss";

h1 {
  text-align: center;
  @include phone-only {
    margin-bottom: 0;
  }
}

.flex {
  width: 100%;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto 6vh;
  @include phone-only {
    margin-bottom: 0;
  }
  a {
    text-align: center;
  }
  img {
    width: 70%;
  }
}

// Form
input,
textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px #363636;
  padding: 1rem 0;
  @include phone-only {
    padding: 0.5rem 0;
    &::placeholder {
      font-size: 1rem;
    }
  }
  &::placeholder {
    color: #575656;
  }
}

textarea {
  overflow: auto;
  min-height: 6rem;
  max-height: 20rem;
  resize: none;
  outline: 0;
}

form {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  div {
    margin: 3vh 0;
  }
}
