<page-layout [pageContent]="contactContent" [imgSrc]="contactBgImg">
  <ng-template #contactContent>
    <div class="flex">
      <article>
        <h1>Hello.</h1>
        <div class="socials">
          <a href="mailto:marseille.roller.derby.club@gmail.com"
            ><img
              src="./../../../assets/contact-socials/gmail.png"
              alt="icon gmail"
          /></a>
          <a href="https://www.facebook.com/marseillerollerderby/"
            ><img
              src="./../../../assets/contact-socials/messenger.png"
              alt="icon messenger"
          /></a>
          <a href="https://www.instagram.com/marseillerollerderbyclub/"
            ><img
              src="./../../../assets/contact-socials/insta.png"
              alt="icon instagram"
          /></a>
        </div>
        <form (ngSubmit)="sendMessage(f)" #f="ngForm" [formGroup]="form">
          <div>
            <input
              formControlName="name"
              class="form-control"
              placeholder="Derby Name *"
              required
            />
            <ng-container
              *ngIf="
                form.get('name').invalid &&
                (form.get('name').dirty || form.get('name').touched)
              "
            >
              <p class="error-message" *ngIf="form.get('name').errors.required">
                <span class="material-icons"> error_outline </span> Et c'est
                quoi votre petit nom ?
              </p>
              <p
                class="error-message"
                *ngIf="form.get('name').errors.minlength"
              >
                <span class="material-icons"> error_outline </span> Le derby
                name doit contenir au moins 3 caractères.
              </p>
            </ng-container>
          </div>
          <div>
            <input
              pattern=".+@.+\..+"
              formControlName="email"
              class="form-control"
              placeholder="Email *"
              required
            />
            <ng-container
              *ngIf="
                form.get('email').invalid &&
                (form.get('email').dirty || form.get('email').touched)
              "
            >
              <p
                class="error-message"
                *ngIf="form.get('email').errors.required"
              >
                <span class="material-icons"> error_outline </span> Ton email
                est requis.
              </p>
              <p
                class="error-message"
                *ngIf="form.get('email').errors?.pattern"
              >
                <span class="material-icons"> error_outline </span> L'email
                n'est pas valide.
              </p>
            </ng-container>
          </div>
          <div>
            <textarea
              formControlName="message"
              class="form-control"
              placeholder="Vos mots doux *"
              required
              (input)="auto_grow($event)"
            ></textarea>
            <ng-container
              *ngIf="
                form.get('message').invalid &&
                (form.get('message').dirty || form.get('name').touched)
              "
            >
              <p
                class="error-message"
                *ngIf="form.get('message').errors.required"
              >
                <span class="material-icons"> error_outline </span> Tu n'as rien
                à nous dire ?
              </p>
              <p
                class="error-message"
                *ngIf="form.get('message').errors.minlength"
              >
                <span class="material-icons"> error_outline </span> Ton petit
                mot est trop court...
              </p>
            </ng-container>
          </div>
          <button
            type="submit"
            [disabled]="!isFormValid"
            id="submit"
            class="primary-btn"
          >
            Go ! <span class="material-icons"> send </span>
          </button>
        </form>
      </article>
    </div>
  </ng-template>
</page-layout>
