@import "./../../app.component.scss";

h1 {
  text-align: center;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto 6vh;

  a {
    text-align: center;
  }
  img {
    width: 70%;
  }
}
input,
textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px #363636;
  padding: 1rem 0;
  &::placeholder {
    font-family: "Josefin Sans", sans-serif;
    color: #363636;
    font-size: 1.4rem;
    font-weight: 300;
    @include laptop {
      font-size: 1.2rem;
    }
  }
}
textarea {
  overflow: auto;
  min-height: 8rem;
  max-height: 20rem;
  resize: none;
  outline: 0;
}

form {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  div {
    margin: 3vh 0;
  }
}

.error-message {
  font-size: 1.2rem;
  color: rgb(172, 9, 9);
  padding: 0.5rem 0;

  span {
    margin-top: -5px;
    vertical-align: middle;
  }
}

button {
  border: none;
  font-weight: 500;
  color: #fff;

  span {
    transform: rotate(-35deg);
    vertical-align: middle;
    margin: -10px 0 0 5px;
  }
}
