@import "./../../app.component.scss";

article {
  width: 100%;
  @include tablet-portrait {
    padding-top: 5vh;
  }
  @include phone-only {
    padding: 0;
  }
}

aside {
  overflow: auto;
  max-height: 25rem;
  margin-top: 2rem;
  @include tablet-portrait {
    max-height: none;
    overflow: hidden;
    padding-bottom: 4vh;
  }

  div {
    margin: 2rem 1.5rem 2rem 0;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h3 {
    text-align: left;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #89c9e6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: height 1s;
  form {
    width: 70%;
    div {
      margin: 1rem 0;
    }
  }
  button {
    z-index: 500;
    position: relative;
  }
}
