<page-layout [pageContent]="mediasContent" [imgSrc]="mediasBgImg">
  <ng-template #mediasContent>
    <div class="flex">
      <article>
        <h1>ils parlent <br />de nous</h1>
        <div class="primary-btn">
          <a
            href="https://www.youtube.com/watch?v=AuEZ95xbdvk&list=PLiOJwCfQxioUEzKMtN2uijLqoNUl1vjBd"
            target="_blank"
            >En vidéo</a
          >
        </div>
        <aside>
          <div *ngFor="let article of articles" class="media">
            <h3>{{ article.magazine }} :</h3>
            <a href="{{ article.url }}" target="_blank">{{
              article.articleTitle
            }}</a>
          </div>
        </aside>
      </article>
    </div>
  </ng-template>
</page-layout>
