<section>
  <article>
    <h1 class="white-text">Marseille Roller Derby club</h1>
    <div class="intro-container">
      <p class="white-text">
        Des femmes & des hommes féroces qui se mesurent autour d'un track en
        jouant au plus excitant sport de contact du 21ème siècle : et oui, c'est
        le Marseille roller derby club . Il est grand temps de rendre Marseille
        célèbre autrement que pour son savon et sa pétanque !
      </p>
      <button nbButton status="primary" (click)="router.navigate(['/quezako'])">
        Quezako le Roller Derby
      </button>
    </div>
  </article>
</section>
