<section>
  <article>
    <h1>Marseille Roller Derby club</h1>
    <div class="intro-container">
      <p>
        Des femmes & des hommes féroces qui se mesurent autour d'un track en
        jouant au plus excitant sport de contact du 21ème siècle : et oui, c'est
        le Marseille roller derby club . Il est grand temps de rendre Marseille
        célèbre autrement que pour son savon et sa pétanque !
      </p>
      <div class="primary-btn">
        <a href="/quezako">Quezako le Roller Derby</a>
      </div>
    </div>
  </article>
</section>
