<nb-card>
  <nb-card-header
    >{{ teamId ? "Modifier" : "Ajouter" }} une équipe</nb-card-header
  >
  <nb-card-body>
    <form [formGroup]="teamForm">
      <div>
        <input
          nbInput
          shape="semi-round"
          formControlName="teamName"
          placeholder="Nom de l'équipe"
        />
        <ng-container
          *ngIf="
            teamForm.get('teamName').invalid &&
            (teamForm.get('teamName').dirty || teamForm.get('teamName').touched)
          "
        >
          <p class="error-msg" *ngIf="teamForm.get('teamName').errors.required">
            <nb-icon icon="alert-circle-outline"></nb-icon> Nom d'équipe requis
          </p>
          <p
            class="error-msg"
            *ngIf="teamForm.get('teamName').errors.minlength"
          >
            <nb-icon icon="alert-circle-outline"></nb-icon> Le nom doit contenir
            au moins 3 caractères
          </p>
        </ng-container>
      </div>
      <textarea
        nbInput
        fullWidth
        shape="semi-round"
        formControlName="teamStory"
        placeholder="À propos de l'équipe"
      ></textarea>
      <div>
        <input
          nbInput
          fullWidth
          shape="semi-round"
          formControlName="flatTrackUrl"
          placeholder="Lien Flat Track Roller Derby"
        />
        <ng-container
          *ngIf="
            teamForm.get('flatTrackUrl').invalid &&
            (teamForm.get('flatTrackUrl').dirty ||
              teamForm.get('flatTrackUrl').touched)
          "
        >
          <p class="error-msg" *ngIf="teamForm.get('flatTrackUrl').errors">
            <nb-icon icon="alert-circle-outline"></nb-icon> Url invalide
          </p>
        </ng-container>
      </div>
      <div>
        <input
          type="number"
          nbInput
          shape="semi-round"
          formControlName="order"
          placeholder="Ordre d'apparition"
        />
        <ng-container
          *ngIf="
            teamForm.get('order').invalid &&
            (teamForm.get('order').dirty || teamForm.get('order').touched)
          "
        >
          <p class="error-msg" *ngIf="teamForm.get('order').errors.required">
            <nb-icon icon="alert-circle-outline"></nb-icon> Ordre requis
          </p>
        </ng-container>
      </div>
      <nb-checkbox status="primary" formControlName="isActiveTeam"
        >Afficher sur le site</nb-checkbox
      >
    </form>
    <div class="file">
      <div *ngIf="logoToUpload" class="overlay">
        <span
          ><nb-icon icon="file-outline"></nb-icon>{{ logoToUpload.name }}</span
        >
      </div>
      <nb-icon icon="upload-outline"></nb-icon>
      <span>Télécharger le logo de l'équipe</span>
      <input type="file" (change)="uploadFile($event.target.files, 'logo')" />
    </div>
    <div class="file">
      <div *ngIf="imgToUpload" class="overlay">
        <span
          ><nb-icon icon="file-outline"></nb-icon>{{ imgToUpload.name }}</span
        >
      </div>
      <nb-icon icon="upload-outline"></nb-icon>
      <span>Télécharger une photo de l'équipe</span>
      <input type="file" (change)="uploadFile($event.target.files)" />
    </div>
  </nb-card-body>
  <nb-card-footer>
    <!-- <span *ngIf="teamId" (click)="deleteTeam()" class="error-msg"
      ><nb-icon icon="trash-outline"></nb-icon> Supprimer l'équipe</span
    > -->
    <div>
      <a (click)="closeDialog()">Annuler</a>
      <button
        *ngIf="teamId"
        nbButton
        status="primary"
        (click)="updateTeam()"
        [disabled]="!teamForm.valid"
      >
        Modifier
      </button>
      <button
        *ngIf="!teamId"
        nbButton
        status="primary"
        (click)="saveTeam()"
        [disabled]="!teamForm.valid"
      >
        Créer
      </button>
    </div>
  </nb-card-footer>
</nb-card>
