@import "../../shared/scss/mixin.scss";
@import "../../../themes.scss";

* {
  font-family: nb-theme(font-family-primary);
}

.main-nav {
  display: flex;
  padding: 1rem;
  @include phone-only {
    padding: 0;
  }
  span {
    padding: 0 1rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    @include phone-only {
      display: none;
    }
  }
}
section {
  width: 0;
  height: 0;
  background-color: #009ee1;
  position: absolute;
  top: 0;
  right: 0;

  nav {
    display: none;
    border-left: solid 1px #fff;
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0 2rem 2rem;
    @include tablet-portrait {
      width: 90%;
    }
    a {
      font-size: 3rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      padding: 1rem;
      font-weight: 600;
      display: block;
      @include phone-only {
        font-size: 1.8rem;
      }
      &:hover,
      &.active-route {
        color: #e9c341;
        &::before {
          content: "✭";
          padding-right: 1rem;
        }
      }
    }
  }

  &.open {
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
    z-index: 500000;

    nav {
      display: block;
    }
  }
}
