@import "./../../app.component.scss";

section {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

article {
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  position: relative;
}

div {
  position: relative;
  z-index: 1;
}

.team {
  width: 70%;
  @include small-laptop {
    width: 60%;
  }
}

.blue-background {
  background-color: rgba(0, 158, 225, 0.8);
  padding: 3vw;
  margin-top: -10vh;
  width: 60%;
}

.logo {
  position: absolute;
  z-index: 2;
  width: 45%;
  max-width: 25rem;
  bottom: 0;
}

h1,
p,
a {
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 4rem;
  @include small-laptop {
    font-size: 3rem;
    padding: 0;
  }
}

a {
  display: block;
  margin: 1vh 0;
}

article:nth-child(odd) {
  .logo {
    left: -20rem;
    @include small-laptop {
      left: -15rem;
    }
  }
  .blue-background {
    float: right;
  }
}

article:nth-child(even) {
  img {
    float: right;
  }
  .blue-background {
    float: left;
    padding-right: 3vw;
    p {
      width: 90%;
    }
  }
  .logo {
    right: -15rem;
    @include small-laptop {
      right: -14rem;
    }
  }
}

scroll-icon {
  position: absolute;
  bottom: 0;
  right: 1.5vw;
}

#chapacans {
  @include small-laptop {
    .blue-background {
      margin-top: -20vh;
    }
  }
}

#rascasses {
  .logo {
    bottom: 1vh;
  }
}
